/*versión móvil*/
@media screen and (max-width: 767px) {

.formularioMuestra {
    background: #EEE;
    border-radius: 20px;
    padding: 0.5rem;
    margin: 0.75rem;
    color: #022859;
}

h2 {
    text-align: center;
    color: #022859;
    font-size: 20px;
}


.registroGeneral {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.localizacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; 
    height: 100%; 
    border-radius: 20px;
    background-color: #EEE;
}

.locationHeader {
    display: flex;
    flex-wrap: wrap;
    gap: 3.2rem;
    padding-left: 15px;
    flex-direction: row;
    color: #022859;
    background: #EEE;
    border-radius: 20px;
    font-size: 12px;
    padding-top: 10px;

}


.mapa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    
}

.muestras {
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: #022859;
    background: #EEE;
    border-radius: 20px;
    justify-content: space-between;
    font-size: 12px;
}

.oxigeno, .conductividad, .temperatura, .ph {
    display: flex;
    justify-content: space-between;
    color: #022859;
    background: #EEE;
    border-radius: 20px;

}

#oxigeno, #conductividad, #temperatura, #ph {
    border-radius: 20px;
    width: 22%;
    height: 12px;
}


.buttonContainer {
    display: flex;
    flex-direction: row;
    padding: 15px;
    color: #022859;
    background: #EEE;
    border-radius: 20px;
    justify-content: flex-end;
    font-size: 12px;
    padding: 1px;
    margin-top: 4px;
}


.button {
    border-radius: 20px;
    width: 25%;
    height: 1.3rem;
    background-color: var(--azul_celeste);
    border-color: var(--azul_celeste);
    font-size: 90%;
    padding: 2px;
    
}

.uno, .dos, .tres, .cuatro, .cinco {
    color: var(--azul_celeste);
    font-size: 120%;
}

.pipetaContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    height: 100%;
    align-items: right;
    margin-top: -2rem;
}

.pipeta {
    width: 25%;
    height: 25%;
}

.footer {
    position: relative;
    width: 100%;
    height: 100%;

}

}


  