.registroGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}
.formularioMuestra {
    display: flex;
    flex-direction: column;

}



.mapaRegistro {
    
}

.muestras {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #000;
    gap: 10px;    
}



.campo {
    display: flex;
    border: 1px solid #00b3ff;
    align-items: center;
    justify-content: space-between;
}

.campo label {
    flex-basis: 30%;
    
    text-align: right;
    
    margin-right: 10px;
    
}

.campo input {
    border: 1px solid #ff0000;
    width: 15%;
    height: 12px;

    
}

input {

    width: 15rem;
    height: 12rem;
    border-radius: 40px;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}


.buttonContainer {
    display: flex;
    justify-content: right;
    gap: 10px;
    align-items: right;
    padding-top: 10px;
}

.button {
    border-radius: 40px;
    background: var(--01, #48CAD9);
    display: flex;
    width: 15%;
    height: 12px;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}