.registroGeneral {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.muestras {
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: #022859;
    background: #EEE;
    border-radius: 20px;
    justify-content: space-between;
    font-size: 12px;

}

.oxigeno {
    display: flex;
    justify-content: space-between;
    color: #022859;
    background: #EEE;
    border-radius: 20px;

}

.conductividad {
    display: flex;
    justify-content: space-between;
    color: #022859;
    background: #EEE;
    border-radius: 20px;

}

.temperatura {
    display: flex;
    justify-content: space-between;
    color: #022859;
    background: #EEE;
    border-radius: 20px;
}

.ph {
    display: flex;
    justify-content: space-between;
    color: #022859;
    background: #EEE;
    border-radius: 20px;
}

#oxigeno {
    border-radius: 20px;
    width: 15%;
    height: 12px;
}

#conductividad {
    border-radius: 20px;
    width: 15%;
    height: 12px;
}

#temperatura {
    border-radius: 20px;
    width: 15%;
    height: 12px;
}

#ph {
    border-radius: 20px;
    width: 15%;
    height: 12px;
    outline: none;
    box-shadow: none;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    padding: 15px;
    color: #022859;
    background: #EEE;
    border-radius: 20px;
    justify-content: flex-end;
    font-size: 12px;
    padding: 1px;
    margin-top: 4px;
}


.button {
    border-radius: 20px;
    width: 18%;
    height: 20px;
    background-color: var(--azul_celeste);
    border-color: var(--azul_celeste);
    font-size: 90%;
    padding: 2px;
    
}