a {
  display: flex;
  flex-direction: column;
}

.a-right {
    /* display: flex;
    justify-content: center; */
    align-items: center;
    min-height: 100vh;
    background-color: var(--blanco); 
    padding: 20px;
    box-sizing: border-box;
  }
  
  .infoForm {
    
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  h3 {
    color: #022859; 
    font-size: 24px;
  }
  
  p {
    color: #022859; 
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .infoInput {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #0077b6; 
    font-size: 16px;
    outline: none;
  }
  
  .infoInput::placeholder {
    color: #0077b6; 
  }
  

  /* .infoButton {
    background-color: #48CAD9;
    color: #022859; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  } */
  
  /* .infoButton:hover {
    background-color: #005f91; 
  } */
  

  /* hacer un fetch al backend para que compruebe si el login es correcto */
