.paginaLanding {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.landingMain {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    width: 100%;
    background-color: var(--blanco);

    & .landingBienvenides {
        display: flex;
        // flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        & .peli1Container {
            display: flex;
            & img {
                margin-right: auto;
                height: 0;
            }
        }

        & .landingBody {
            width: 90%;
            & .bienvenides {
                display: flex;
            }
           
        }
    }
    & .landingMapaContainer {
        border: 8px solid #48cad9;
        // z-index: 0;
        border-radius: 1.7rem;
        width: 95%;
        display: flex;
        margin: auto;
        & img {
            width: 100%;
        }
    }

    & .landingExplicacion {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: auto;
        margin-bottom: 2rem;
        & .landingPrimero,
        .landingSegundo,
        .landingTercero {
            display: flex;
            flex-direction: column;
            margin: auto;
            // margin-left: 2rem;
            width: 100%;
            height: auto;

            & .primero,
            .segundo,
            .tercero {
                margin: auto;
                border: 5px solid var(--azul_celeste);
                border-radius: 20px;
                padding: 1rem;
                
            }
            .peli2Container,
            .peli3Container,
            .peli4Container {
                width: 0;
                height: 0;
                & img {
                    height: 0;
                    width: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .paginaLanding {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 1rem;
        width: 100%;
    }
    .landingMain {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        margin-top: 0;
        padding-right: 1rem;
        background-color: var(--blanco);

        & .landingBienvenides {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: flex-start;
            margin: auto;
            width: 100%;
            // border: 8px solid #48cad9;
            & .peli1Container {
                display: flex;
                height: 50rem;
                & .peli1 {
                    // z-index: -1;

                    // height: 100%;
                    // clip-path: polygon;
                    display: flex;
                    visibility: visible;
                    height: 100%;
                    height: auto;
                    // margin-left: 0%;
                    // border: 8px solid #48cad9;
                }
            }

            & .landingBody {
                // border: 8px solid #48cad9;
                width: 50%;
                & .bienvenides {
                    display: flex;
                    font-size: 2.5rem;
                }

                & .bienvenides2 {
                    font-size: 1.5rem;
                    color: var(--azul_oscuro);
                    width: 80%;
                }
            }
        }
        & .landingMapaContainer {
            // z-index: 0;
            border-radius: 1.7rem;
            width: 80%;
            display: flex;
            margin: auto;
            margin-top: -25rem;
            & img {
                width: 100%;
            }
        }
        & .landingExplicacion {
            width: 100%;
            margin: auto;
            & .landingPrimero,
            .landingSegundo,
            .landingTercero {
                display: flex;
                flex-direction: row;
                padding: 1rem;
                margin: auto;
                width: 50%;
                // margin-left: 2rem;

                & .primero,
                .segundo,
                .tercero {
                    border-radius: 20px;
                    margin: auto;
                    width: 100%;
                    height: auto;
                    padding: 1rem;
                    
                }
                .peli2Container,
                .peli3Container,
                .peli4Container {
                    height: 100%;
                    width: auto;
                    margin: auto;
                    & img {
                        height: 100%;
                        width: auto;
                        margin: auto;
                    }
                }
            }
        }
    }
}
