.dataMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    & > * {
        padding: 1rem 0;
    }
    & .profileSection {
        background-color: var(--gris2);
        border-bottom: 1px solid #c3c9d5;
    }
    & h1 {
        text-align: center;
        padding-top: 2rem;
    }

    & .intro {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        & article {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 2rem;
            text-align: justify;
            & h3 {
                text-align: center;
            }
        }
    }
    & .perfiles {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        padding: 1rem;
        margin: 0 0 2rem 0;

        & .profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.6rem;
        }
    }
    & .routeHeader {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--gris2);

        & .routeHeaderDescription {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem 2rem;
            width: 100%;
        }
    }
    & .problemStudy {
        width: 100%;
        margin: auto;
        padding: 2rem;
        text-align: justify;
    }
    & .dataRecolection,
    .dataCreation,
    .dataTraining {
        width: 100%;
        margin: auto;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        text-align: justify;
        & .recImgContainer {
            & img {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .dataMain {
        & > * {
            padding: 2rem 0;
        }
        & .intro {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            gap: 4rem;
            padding: 2rem 4rem;
            & article {
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 1rem;
                & h3 {
                    text-align: left;
                }
            }
        }
        & .perfiles {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            gap: 5rem;
            padding: 1rem;
        }
        & .routeHeader {
            width: 100%;
            padding: 2rem 2rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: var(--gris2);

            & .routeHeaderDescription {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 1rem 2rem;
                width: 100%;
            }
        }
        & .problemStudy {
            padding: 4rem;
        }
        & .dataRecolection,
        .dataCreation,
        .dataTraining {
            width: 100%;
            margin: auto;
            padding: 4rem;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 5rem;
            & .recImgContainer {
                min-width: 40%;
                & img {
                    width: 100%;
                }
            }
        }
    }
}
