.leaflet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 20vh;
    border-radius: 20px;
    margin: 10px;
}