/* .aboutGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color:var(--white);
} */

/* .mision {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.mision .misionTexto {
    font-size: 28px;
    font-weight: none;
}

.mision .misionCabecera {
    font-size: 0.5rem;
    font-weight: bold;
} */
