main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: justify;



    &>* {
        padding: 1rem 0;
        background: var(--gris2, #F5F6F8);
    }

    & h1 {
        text-align: center;
        padding-top: 2rem;
        background: var(--gris2, #F5F6F8);
    }

    & .intro {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--gris2, #F5F6F8);
        color: var(--02, #022859);




        & article {
            display: flex;
            flex-direction: row;
            align-items: center;


            & div {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                align-items: flex-start;

            }

            & h3 {
                text-align: flex-start;
                color: var(--01, #48CAD9);
                font-family: Poppins;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 400;
                line-height: 2.71875rem;
                /* 155.357% */
                letter-spacing: -0.0175rem;

            }

            & p {
                text-align: justify;
                width: 100%;
                align-self: stretch;

            }
        }

    }

    & .perfiles {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 5rem;
        padding: 1rem;
        margin: 2rem;
        background: var(--gris2, #F5F6F8);

        & .profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.6rem;
        }
    }

    & .diseno {
        display: flex;
        flex-direction: column;
        border-top: 1px solid #C3C9D5;
        background: var(--gris2, #F5F6F8);
        margin-top: -2rem;




        & .tituloDiseno {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;



            & span {
                color: var(--LETRA-GRIS-USAR-ESTA, #687F9C);
                font-family: Poppins;
                align-self: center;
                margin-bottom: 1.5rem;

            }


        }


        & .disenoTexto {
            width: 100%;
            background-color: white;
            padding: 1rem;
            color: var(--02, #022859);



        }

    }

    & .front,
    .back,
    .deploy {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        & .tituloFront,
        .tituloBack,
        .tituloDeploy {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 1rem;
            padding-right: 1rem;
            width: 100%;


        }

        & .frontDescription,
        .backDescription,
        .deployDescription {
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: white;
            color: var(--02, #022859);
            padding: 1rem;
            gap: 1rem;

            & .elRow {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
            }


            & .textoConFoto {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 1.5rem;

                & p {
                    width: 100%;
                    gap: 1rem;
                }

                & img {
                    width: 100%;

                }
            }
        }
    }

    .gitHub {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1rem;
        gap: 2rem;
        border-radius: 1.25rem;
        background: var(--01, #48CAD9);

        & .tituloGit {
            background: var(--01, #48CAD9);

            & h1 {

                background: var(--01, #48CAD9);
            }
        }

        & .textosGit {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            color: var(--02, #022859);

        }



    }
}

@media screen and (min-width: 768px) {
    main {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        text-align: justify;

        &>* {
            padding: 2rem 0;
        }

        & .intro {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            padding: 2rem 4rem;

            & article {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: red;

                & div {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    align-items: center;
                    background: purple;
                    align-items: flex-start;

                }

                & h3 {
                    text-align: flex-start;
                    color: var(--01, #48CAD9);
                    font-family: Poppins;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 2.71875rem;
                    /* 155.357% */
                    letter-spacing: -0.0175rem;

                }

                & p {
                    text-align: justify;
                    width: 100%;
                    align-self: stretch;

                }
            }
        }

        & .perfiles {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            gap: 5rem;
            padding: 1rem;
        }
    }
}