* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul_celeste: #48cad9;
    --azul_oscuro: #022859;
    --negro: #020305;
    --gris: #d9d9d9;
    --blanco: #ffffff;
}

body {
    font-family: "Poppins", sans-serif;
    width: 100%;
}

h1 {
    font-size: 1.5rem;
}
/* p {
    font-size: 9rem;
} */

button {
    border-radius: 10px;
    font-size: 1rem;
    padding: 0.2rem 0.7rem;
    max-height: 1.5rem;
}
.boton1 {
    background-color: var(--azul_celeste);
    border-color: var(--azul_celeste);
}

.boton2 {
    background-color: var(--blanco);
    border-color: var(--azul_celeste);
}

.boton3 {
    background-color: var(--blanco);
    border-color: var(--blanco);
}

@media screen and (min-width: 768px) {
    .boton1 {
        align-items: center;
        background-color: var(--azul_celeste);
        border-radius: 10px;
        border-color: var(--azul_celeste);
        display: flex;
        gap: 10px;
        width: 15px;
        height: 12px;
        justify-content: center;
        overflow: hidden;
        padding: 26px 54px;
        position: relative;
    }

    .boton2 {
        align-items: center;
        background-color: var(--blanco);
        border-radius: 10px;
        border-color: var(--azul_celeste);
        display: flex;
        gap: 10px;
        width: 15px;
        height: 55px;
        justify-content: center;
        overflow: hidden;
        padding: 26px 54px;
        position: relative;
    }

    .boton3 {
        align-items: center;
        background-color: var(--blanco);
        border-radius: 2px;
        border-color: var(--blanco);
        display: flex;
        gap: 10px;
        width: 15px;
        height: 55px;
        justify-content: center;
        overflow: hidden;
        padding: 26px 54px;
        position: relative;
    }
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

/* .card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
