/* Estilos generales para la sección Únete */
.uneteGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #0077b6; /* Color de fondo inspirado en el agua */
    color: #ffffff; /* Color de texto blanco */
  }
  
  /* Estilos para el título "Únete" */
  .uneteCabecera {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Estilos para el texto "Blablabla" */
  .uneteTexto {
    font-size: 28px;
  }
  
  /* Estilos para el botón "Llamar" */
  .llamar {
    background-color: #005f91; /* Color de fondo del botón inspirado en el agua */
    color: #ffffff; /* Color de texto blanco para el botón */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Ocupa todo el ancho disponible en dispositivos móviles */
  }
  
  /* Estilos para el formulario de contacto */
  .uneteFormulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; /* Ocupa todo el ancho disponible en dispositivos móviles */
  }
  
  /* Estilos para los campos de entrada en el formulario */
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px;
    border: none;
    border-bottom: 2px solid #0077b6; /* Línea inferior inspirada en el agua */
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
  }
  
  /* Estilos para el campo de "Observaciones" para que sea mayor */
  input.observaciones {
    height: 100px; /* Aumenta la altura de este campo */
  }
  
  /* Estilos para el espaciado entre los campos de entrada */
  input[type="text"] + input[type="text"] {
    margin-top: 15px;
  }
  